:root {
    --margin: 10px;
    --buttonbk: #d6d6d6;
    --darkgray: #474747;
    --warning: orange;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

button {
    background-color: var(--buttonbk);
    border: 2px solid white;
    border-radius: 2px;
    color: black;
    height: 30px;
}

* {
    font-family: 'ABeeZee';
}

body {
    background-color: var(--darkgray);
}

#loginBody {
    background-image: url("/recources/planet.png");
}

input {
    font-size: 16px;
}

p {
    color: white;
}

h1, h2 {
    margin: 5px;
    color: white;
    text-align: center
}

#gameCanvas {
    width: 1200px;
    height: 700px;
}
#bufferCanvas {
    display: none;
}

#chatContainer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 250px;

    background-color: black;
    opacity: 0.6;

    padding: 5px;

    pointer-events: none;
}
#chatDiv {
    overflow-y: scroll;
    max-height: 300px;
    word-wrap: break-word;
}
#chatDiv p {
    font-size: 14px;
    margin: 5px
}
#chatMessageBox {
    width: 95%;
}

#topBar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    max-height: 50px;
    padding: 10px;

    color: white;
    background-color: black;
    opacity: 0.8;
}
#topBar * {
    opacity: 1;
    margin-left: 2px;
    display: inline;
}
.downBtn {
    background-color: rgb(221, 103, 103);
    font-size: 18px;
    width: 30px;
}
.upBtn {
    background-color: rgb(152, 189, 97);
    font-size: 18px;
    width: 30px;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 5px;
    top: 5px;
}
.ui-dialog-titlebar {
    background-color: white;
    color: black;
    padding: 10px;
}
#alertBox {
    background: gray;
    color: white;
    padding: 10px;
}

/* LOGIN AND REGISTER */
#loginForm {
    min-width: 300px;
    min-height: 200px;
    text-align: center;
    margin: 0px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    transform: translate(-50%, -50%);
    background-color: var(--darkgray);
    opacity: 0.9;
}

#loginForm p {
    margin: 0px;
}

#usernameInput, #passwordInput, #passwordConfirmInput {
    margin: var(--margin);
    width: 220px;
}

#submitButton, #switchFormButton {
    margin: var(--margin);
    width: 150px;
}

#passwordWarningText {
    color: var(--warning);
}

#loginInfoText {
    text-align: left;
    margin: 0px;
}

#sessionInfoSpan * {
    margin: 4px;
}

.hide {
    display: none;
}

/* CHARACTER SELECT */
#chrSelect {
    border: 2px solid var(--buttonbk);
    margin: 5px;
    padding: 5px;
}
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
[type=radio] + img {
    cursor: pointer;
    margin: 5px;
}
[type=radio]:checked + img {
    outline: 2px solid var(--buttonbk);
}




/* ADMIN VIEW */
#databaseTable {
    width: 80%;
    margin: 10px;
}

table, th, td {
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}
