:root {
    --margin: 10px;
    --darkgray: #474747;
    --warning: orange;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

* {
    font-family: 'ABeeZee';
}

body {
    background-color: var(--darkgray);
}

#loginBody {
    background-image: url("/recources/planet.png");
}

input {
    font-size: 16px;
}

p {
    color: white;
}

h1 {
    margin: 5px;
    color: white;
    text-align: center
}

#gameCanvas {
    width: 1200px;
    height: 700px;
}
#bufferCanvas {
    display: none;
}

#chatContainer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 250px;

    background-color: black;
    opacity: 0.8;

    padding: 5px;
}
#chatDiv {
    overflow-y: scroll;
    max-height: 400px;
}
#chatMessageBox {
    width: 95%;
}

/* LOGIN AND REGISTER */
#loginForm {
    min-width: 300px;
    min-height: 200px;
    text-align: center;
    margin: 0px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    transform: translate(-50%, -50%);
    background-color: var(--darkgray);
    opacity: 0.9;
}

#loginForm p {
    margin: 0px;
}

#usernameInput, #passwordInput, #passwordConfirmInput {
    margin: var(--margin);
    width: 220px;
}

#submitButton, #switchFormButton {
    margin: var(--margin);
    width: 150px;
    height: 30px;
}

#passwordWarningText {
    color: var(--warning);
}

#loginInfoText {
    text-align: left;
    margin: 0px;
}

.hide {
    display: none;
}